<!-- Validation failure messages -->
<% if @participation.errors.any? %>
  <% @participation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Participation #<%= @participation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_participation/<%= @participation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :organization_name, @participation.team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for competition_id -->
      <div class="form-group">
        <label for="competition_id" class="control-label">
          Competition
        </label>

        <input type="text" id="competition_id" name="competition_id" placeholder="Competition" class="form-control" value="<%= @participation.competition_id %>">
      </div>

      <!-- Label and input for finals -->
      <div class="form-group">
        <label for="finals" class="control-label">
          Finals
        </label>

        <input type="text" id="finals" name="finals" placeholder="Finals" class="form-control" value="<%= @participation.finals %>">
      </div>

      <!-- Label and input for semifinals -->
      <div class="form-group">
        <label for="semifinals" class="control-label">
          Semifinals
        </label>

        <input type="text" id="semifinals" name="semifinals" placeholder="Semifinals" class="form-control" value="<%= @participation.semifinals %>">
      </div>

      <!-- Label and input for quarterfinals -->
      <div class="form-group">
        <label for="quarterfinals" class="control-label">
          Quarterfinals
        </label>

        <input type="text" id="quarterfinals" name="quarterfinals" placeholder="Quarterfinals" class="form-control" value="<%= @participation.quarterfinals %>">
      </div>

      <button class="btn btn-warning">
        Update Participation
      </button>
      or
      <a href="/participations/<%= @participation.id %>">Cancel</a>
    </form>
  </div>
</div>
