<div class="page-header">
  <h1>
    Participations
    <a href="/participations/new" class="btn btn-lg btn-success">New Participation</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "participations_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :quarterfinals, "Quarterfinals" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :quarterfinals_gteq, :class => "form-control", :placeholder => "Quarterfinals greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :quarterfinals_lteq, :class => "form-control", :placeholder => "Quarterfinals less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :semifinals, "Semifinals" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :semifinals_gteq, :class => "form-control", :placeholder => "Semifinals greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :semifinals_lteq, :class => "form-control", :placeholder => "Semifinals less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :finals, "Finals" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :finals_gteq, :class => "form-control", :placeholder => "Finals greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :finals_lteq, :class => "form-control", :placeholder => "Finals less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :team_organization_name_cont, "Team organization_name contains" %>
      <%= f.text_field :team_organization_name_cont, :class => "form-control", :placeholder => "Team organization_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :competition_name_cont, "Competition name contains" %>
      <%= f.text_field :competition_name_cont, :class => "form-control", :placeholder => "Competition name contains" %>
    </div>

<div class="form-group">
      <%= f.label :poets_first_name_cont, "Poet first_name contains" %>
      <%= f.text_field :poets_first_name_cont, :class => "form-control", :placeholder => "Poet first_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/participations" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#participations_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Team</th>
        <th>Competition</th>
        <th>Finals</th>
        <th>Semifinals</th>
        <th>Quarterfinals</th>
        <th>Actions</th>
      </tr>

      <% @participations.each do |participation| %>
      <tr>
        <td>
          <% if participation.team.present? %>
            <a href="/teams/<%= participation.team.id %>">
              <%= participation.team.organization_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if participation.competition.present? %>
            <a href="/competitions/<%= participation.competition.id %>">
              <%= participation.competition.name %>
            </a>
          <% end %>
        </td>
        <td><%= participation.finals %></td>
        <td><%= participation.semifinals %></td>
        <td><%= participation.quarterfinals %></td>
        <td>
          <a href="/participations/<%= participation.id %>" class="btn btn-primary">Show</a>
          <a href="/participations/<%= participation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_participation/<%= participation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @participations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
