<div class="page-header">
  <h3>Participation #<%= @participation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Team</dt>
      <dd>
        <% if @participation.team.present? %>
          <a href="/teams/<%= @participation.team_id %>">
            <%= @participation.team.organization_name %>
          </a>
        <% end %>
      </dd>

      <dt>Competition</dt>
      <dd>
        <% if @participation.competition.present? %>
          <a href="/competitions/<%= @participation.competition_id %>">
            <%= @participation.competition.name %>
          </a>
        <% end %>
      </dd>

      <dt>Finals</dt>
      <dd><%= @participation.finals %></dd>

      <dt>Semifinals</dt>
      <dd><%= @participation.semifinals %></dd>

      <dt>Quarterfinals</dt>
      <dd><%= @participation.quarterfinals %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/participations" class="btn btn-primary">
        Back
      </a>
      <a href="/participations/<%= @participation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_participation/<%= @participation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Participation has many enrollments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Enrollments
      </li>

      <% @participation.enrollments.each do |enrollment| %>
        <li class="list-group-item">
          <a href="/enrollments/<%= enrollment.id %>">
            <%= enrollment.participation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/enrollments/<%= enrollment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/enrollments/<%= enrollment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_enrollment/<%= enrollment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_enrollment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for participation_id -->
      <input type="hidden" name="participation_id" value="<%= @participation.id %>">

      <!-- Label and input for poet_id -->
      <div class="form-group">
        <label for="poet_id" class="control-label">
          Poet
        </label>

        <%= select_tag(:poet_id, options_from_collection_for_select(Poet.all, :id, :first_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Enrollment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Participation has many availabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availabilities
      </li>

      <% @participation.availabilities.each do |availability| %>
        <li class="list-group-item">
          <a href="/availabilities/<%= availability.id %>">
            <%= availability.participation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availabilities/<%= availability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availabilities/<%= availability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_availability/<%= availability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_availability" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for participation_id -->
      <input type="hidden" name="participation_id" value="<%= @participation.id %>">

      <!-- Label and input for bout_id -->
      <div class="form-group">
        <label for="bout_id" class="control-label">
          Bout
        </label>

        <%= select_tag(:bout_id, options_from_collection_for_select(Bout.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for assigned -->
      <div class="checkbox">
        <label for="assigned">
          <input type="checkbox" id="assigned" name="assigned" value="1" <%= "checked" if @availability.assigned %>>
          Assigned
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Availability
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Participation has many poets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Poets
      </li>

      <% @participation.poets.each do |poet| %>
        <li class="list-group-item">
          <a href="/poets/<%= poet.id %>">
            <%= poet.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/poets/<%= poet.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/poets/<%= poet.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poet/<%= poet.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
