<!-- Validation failure messages -->
<% if @poem.errors.any? %>
  <% @poem.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Poem</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_poem" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for round_id -->
      <div class="form-group">
        <label for="round_id" class="control-label">
          Round
        </label>

        <input type="text" id="round_id" name="round_id" placeholder="Round" class="form-control" value="<%= @poem.round_id %>">
      </div>

      <!-- Label and input for poet_id -->
      <div class="form-group">
        <label for="poet_id" class="control-label">
          Poet
        </label>

        <input type="text" id="poet_id" name="poet_id" placeholder="Poet" class="form-control" value="<%= @poem.poet_id %>">
      </div>

      <!-- Label and input for minutes -->
      <div class="form-group">
        <label for="minutes" class="control-label">
          Minutes
        </label>

        <input type="text" id="minutes" name="minutes" placeholder="Minutes" class="form-control" value="<%= @poem.minutes %>">
      </div>

      <!-- Label and input for seconds -->
      <div class="form-group">
        <label for="seconds" class="control-label">
          Seconds
        </label>

        <input type="text" id="seconds" name="seconds" placeholder="Seconds" class="form-control" value="<%= @poem.seconds %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @poem.notes %></textarea>
      </div>

      <button class="btn btn-success">
        Create Poem
      </button>
      or
      <a href="/poems">Cancel</a>
    </form>
  </div>
</div>
