<div class="page-header">
  <h3>Poem #<%= @poem.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Round</dt>
      <dd>
        <% if @poem.round.present? %>
          <a href="/rounds/<%= @poem.round_id %>">
            <%= @poem.round.number %>
          </a>
        <% end %>
      </dd>

      <dt>Poet</dt>
      <dd>
        <% if @poem.poet.present? %>
          <a href="/poets/<%= @poem.poet_id %>">
            <%= @poem.poet.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Minutes</dt>
      <dd><%= @poem.minutes %></dd>

      <dt>Seconds</dt>
      <dd><%= @poem.seconds %></dd>

      <dt>Notes</dt>
      <dd><%= @poem.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/poems" class="btn btn-primary">
        Back
      </a>
      <a href="/poems/<%= @poem.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_poem/<%= @poem.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Poem has many deductions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Deductions
      </li>

      <% @poem.deductions.each do |deduction| %>
        <li class="list-group-item">
          <a href="/deductions/<%= deduction.id %>">
            <%= deduction.poem_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/deductions/<%= deduction.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/deductions/<%= deduction.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_deduction/<%= deduction.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_deduction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for poem_id -->
      <input type="hidden" name="poem_id" value="<%= @poem.id %>">

      <!-- Label and input for penalty_id -->
      <div class="form-group">
        <label for="penalty_id" class="control-label">
          Penalty
        </label>

        <%= select_tag(:penalty_id, options_from_collection_for_select(Penalty.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Deduction
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Poem has many scores -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Scores
      </li>

      <% @poem.scores.each do |score| %>
        <li class="list-group-item">
          <a href="/scores/<%= score.id %>">
            <%= score.position %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/scores/<%= score.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/scores/<%= score.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_score/<%= score.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_score" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for position -->
      <div class="form-group">
        <label for="position" class="control-label">
          Position
        </label>

        <input type="text" id="position" name="position" placeholder="Position" class="form-control" value="">
      </div>

      <!-- Label and input for points -->
      <div class="form-group">
        <label for="points" class="control-label">
          Points
        </label>

        <input type="text" id="points" name="points" placeholder="Points" class="form-control" value="">
      </div>

      <!-- Label and input for poem_id -->
      <input type="hidden" name="poem_id" value="<%= @poem.id %>">

      <button class="btn btn-block btn-success">
        Create Score
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Poem has many penalties -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Penalties
      </li>

      <% @poem.penalties.each do |penalty| %>
        <li class="list-group-item">
          <a href="/penalties/<%= penalty.id %>">
            <%= penalty.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/penalties/<%= penalty.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/penalties/<%= penalty.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_penalty/<%= penalty.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
