<div class="page-header">
  <h3>Bout #<%= @bout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Competition</dt>
      <dd>
        <% if @bout.competition.present? %>
          <a href="/competitions/<%= @bout.competition_id %>">
            <%= @bout.competition.name %>
          </a>
        <% end %>
      </dd>

      <dt>Begins at</dt>
      <dd><%= @bout.begins_at %></dd>

      <dt>Location</dt>
      <dd><%= @bout.location %></dd>

      <dt>Title</dt>
      <dd><%= @bout.title %></dd>

      <dt>Length</dt>
      <dd><%= @bout.length %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bouts" class="btn btn-primary">
        Back
      </a>
      <a href="/bouts/<%= @bout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bout/<%= @bout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bout has many rounds -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rounds
      </li>

      <% @bout.rounds.each do |round| %>
        <li class="list-group-item">
          <a href="/rounds/<%= round.id %>">
            <%= round.number %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/rounds/<%= round.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/rounds/<%= round.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_round/<%= round.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_round" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bout_id -->
      <input type="hidden" name="bout_id" value="<%= @bout.id %>">

      <!-- Label and input for number -->
      <div class="form-group">
        <label for="number" class="control-label">
          Number
        </label>

        <input type="text" id="number" name="number" placeholder="Number" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Round
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bout has many availabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availabilities
      </li>

      <% @bout.availabilities.each do |availability| %>
        <li class="list-group-item">
          <a href="/availabilities/<%= availability.id %>">
            <%= availability.participation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availabilities/<%= availability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availabilities/<%= availability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_availability/<%= availability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_availability" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for participation_id -->
      <div class="form-group">
        <label for="participation_id" class="control-label">
          Participation
        </label>

        <%= select_tag(:participation_id, options_from_collection_for_select(Participation.all, :id, :team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for bout_id -->
      <input type="hidden" name="bout_id" value="<%= @bout.id %>">

      <!-- Label and input for assigned -->
      <div class="checkbox">
        <label for="assigned">
          <input type="checkbox" id="assigned" name="assigned" value="1" <%= "checked" if @availability.assigned %>>
          Assigned
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Availability
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bout has many checkins -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Checkins
      </li>

      <% @bout.checkins.each do |checkin| %>
        <li class="list-group-item">
          <a href="/checkins/<%= checkin.id %>">
            <%= checkin.poet_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/checkins/<%= checkin.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/checkins/<%= checkin.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_checkin/<%= checkin.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_checkin" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for poet_id -->
      <div class="form-group">
        <label for="poet_id" class="control-label">
          Poet
        </label>

        <%= select_tag(:poet_id, options_from_collection_for_select(Poet.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for bout_id -->
      <input type="hidden" name="bout_id" value="<%= @bout.id %>">

      <button class="btn btn-block btn-success">
        Create Checkin
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
