<div class="page-header">
  <h3>Competition #<%= @competition.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @competition.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/competitions" class="btn btn-primary">
        Back
      </a>
      <a href="/competitions/<%= @competition.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_competition/<%= @competition.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Competition has many bouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bouts
      </li>

      <% @competition.bouts.each do |bout| %>
        <li class="list-group-item">
          <a href="/bouts/<%= bout.id %>">
            <%= bout.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bouts/<%= bout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bouts/<%= bout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bout/<%= bout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bout" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for competition_id -->
      <input type="hidden" name="competition_id" value="<%= @competition.id %>">

      <!-- Label and input for begins_at -->
      <div class="form-group">
        <label for="begins_at" class="control-label">
          Begins at
        </label>

        <input type="text" id="begins_at" name="begins_at" placeholder="Begins at" class="form-control" value="">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for length -->
      <div class="form-group">
        <label for="length" class="control-label">
          Length
        </label>

        <input type="text" id="length" name="length" placeholder="Length" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bout
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Competition has many participations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Participations
      </li>

      <% @competition.participations.each do |participation| %>
        <li class="list-group-item">
          <a href="/participations/<%= participation.id %>">
            <%= participation.team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/participations/<%= participation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/participations/<%= participation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_participation/<%= participation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_participation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :organization_name), :class => "form-control") %>
      </div>

      <!-- Label and input for competition_id -->
      <input type="hidden" name="competition_id" value="<%= @competition.id %>">

      <!-- Label and input for finals -->
      <div class="form-group">
        <label for="finals" class="control-label">
          Finals
        </label>

        <input type="text" id="finals" name="finals" placeholder="Finals" class="form-control" value="">
      </div>

      <!-- Label and input for semifinals -->
      <div class="form-group">
        <label for="semifinals" class="control-label">
          Semifinals
        </label>

        <input type="text" id="semifinals" name="semifinals" placeholder="Semifinals" class="form-control" value="">
      </div>

      <!-- Label and input for quarterfinals -->
      <div class="form-group">
        <label for="quarterfinals" class="control-label">
          Quarterfinals
        </label>

        <input type="text" id="quarterfinals" name="quarterfinals" placeholder="Quarterfinals" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Participation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
