<div class="page-header">
  <h3>Competition #<%= @competition.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @competition.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/competitions" class="btn btn-primary">
        Back
      </a>
      <a href="/competitions/<%= @competition.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_competition/<%= @competition.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Competition has many bouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bouts
      </li>

      <% @competition.bouts.each do |bout| %>
        <li class="list-group-item">
          <a href="/bouts/<%= bout.id %>">
            <%= bout.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bouts/<%= bout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bouts/<%= bout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bout/<%= bout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Competition has many participations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Participations
      </li>

      <% @competition.participations.each do |participation| %>
        <li class="list-group-item">
          <a href="/participations/<%= participation.id %>">
            <%= participation.team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/participations/<%= participation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/participations/<%= participation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_participation/<%= participation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
