<div class="page-header">
  <h3>Round #<%= @round.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bout</dt>
      <dd>
        <% if @round.bout.present? %>
          <a href="/bouts/<%= @round.bout_id %>">
            <%= @round.bout.title %>
          </a>
        <% end %>
      </dd>

      <dt>Number</dt>
      <dd><%= @round.number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rounds" class="btn btn-primary">
        Back
      </a>
      <a href="/rounds/<%= @round.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_round/<%= @round.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Round has many poems -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Poems
      </li>

      <% @round.poems.each do |poem| %>
        <li class="list-group-item">
          <a href="/poems/<%= poem.id %>">
            <%= poem.round_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/poems/<%= poem.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/poems/<%= poem.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poem/<%= poem.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_poem" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for round_id -->
      <input type="hidden" name="round_id" value="<%= @round.id %>">

      <!-- Label and input for poet_id -->
      <div class="form-group">
        <label for="poet_id" class="control-label">
          Poet
        </label>

        <%= select_tag(:poet_id, options_from_collection_for_select(Poet.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for minutes -->
      <div class="form-group">
        <label for="minutes" class="control-label">
          Minutes
        </label>

        <input type="text" id="minutes" name="minutes" placeholder="Minutes" class="form-control" value="">
      </div>

      <!-- Label and input for seconds -->
      <div class="form-group">
        <label for="seconds" class="control-label">
          Seconds
        </label>

        <input type="text" id="seconds" name="seconds" placeholder="Seconds" class="form-control" value="">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Poem
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
