<div class="page-header">
  <h3>Round #<%= @round.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bout</dt>
      <dd><%= @round.bout_id %></dd>

      <dt>Number</dt>
      <dd><%= @round.number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rounds" class="btn btn-primary">
        Back
      </a>
      <a href="/rounds/<%= @round.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_round/<%= @round.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Round has many poems -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Poems
      </li>

      <% @round.poems.each do |poem| %>
        <li class="list-group-item">
          <a href="/poems/<%= poem.id %>">
            <%= poem.round_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/poems/<%= poem.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/poems/<%= poem.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poem/<%= poem.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
