<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Enrollment #<%= @enrollment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_enrollment/<%= @enrollment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for participation_id -->
      <div class="form-group">
        <label for="participation_id" class="control-label">
          Participation
        </label>

        <%= select_tag(:participation_id, options_from_collection_for_select(Participation.all, :id, :team_id, @enrollment.participation_id), :class => "form-control") %>
      </div>

      <!-- Label and input for poet_id -->
      <div class="form-group">
        <label for="poet_id" class="control-label">
          Poet
        </label>

        <%= select_tag(:poet_id, options_from_collection_for_select(Poet.all, :id, :first_name, @enrollment.poet_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Enrollment
      </button>
      or
      <a href="/enrollments/<%= @enrollment.id %>">Cancel</a>
    </form>
  </div>
</div>
