<div class="page-header">
  <h3>Penalty #<%= @penalty.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @penalty.title %></dd>

      <dt>Points</dt>
      <dd><%= @penalty.points %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/penalties" class="btn btn-primary">
        Back
      </a>
      <a href="/penalties/<%= @penalty.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_penalty/<%= @penalty.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Penalty has many deductions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Deductions
      </li>

      <% @penalty.deductions.each do |deduction| %>
        <li class="list-group-item">
          <a href="/deductions/<%= deduction.id %>">
            <%= deduction.poem_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/deductions/<%= deduction.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/deductions/<%= deduction.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_deduction/<%= deduction.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_deduction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for poem_id -->
      <div class="form-group">
        <label for="poem_id" class="control-label">
          Poem
        </label>

        <%= select_tag(:poem_id, options_from_collection_for_select(Poem.all, :id, :round_id), :class => "form-control") %>
      </div>

      <!-- Label and input for penalty_id -->
      <input type="hidden" name="penalty_id" value="<%= @penalty.id %>">

      <button class="btn btn-block btn-success">
        Create Deduction
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Penalty has many poems -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Poems
      </li>

      <% @penalty.poems.each do |poem| %>
        <li class="list-group-item">
          <a href="/poems/<%= poem.id %>">
            <%= poem.round_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/poems/<%= poem.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/poems/<%= poem.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poem/<%= poem.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
