<div class="page-header">
  <h1>
    Checkins
    <a href="/checkins/new" class="btn btn-lg btn-success">New Checkin</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Poet</th>
        <th>Bout</th>
        <th>Actions</th>
      </tr>

      <% @checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.poet.first_name %></td>
        <td><%= checkin.bout_id %></td>
        <td>
          <a href="/checkins/<%= checkin.id %>" class="btn btn-primary">Show</a>
          <a href="/checkins/<%= checkin.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_checkin/<%= checkin.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
