<div class="page-header">
  <h3>Checkin #<%= @checkin.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Poet</dt>
      <dd>
        <% if @checkin.poet.present? %>
          <a href="/poets/<%= @checkin.poet_id %>">
            <%= @checkin.poet.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Bout</dt>
      <dd>
        <% if @checkin.bout.present? %>
          <a href="/bouts/<%= @checkin.bout_id %>">
            <%= @checkin.bout.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/checkins" class="btn btn-primary">
        Back
      </a>
      <a href="/checkins/<%= @checkin.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_checkin/<%= @checkin.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
