<div class="page-header">
  <h3>Availability #<%= @availability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Participation</dt>
      <dd>
        <% if @availability.participation.present? %>
          <a href="/participations/<%= @availability.participation_id %>">
            <%= @availability.participation.team_id %>
          </a>
        <% end %>
      </dd>

      <dt>Bout</dt>
      <dd>
        <% if @availability.bout.present? %>
          <a href="/bouts/<%= @availability.bout_id %>">
            <%= @availability.bout.title %>
          </a>
        <% end %>
      </dd>

      <dt>Assigned</dt>
      <dd><%= @availability.assigned %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availabilities" class="btn btn-primary">
        Back
      </a>
      <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_availability/<%= @availability.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
